*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}  

 .cards{
  display: flex;
  flex-direction: row;
  /* gap: 18px;
  margin:36px; */
} 

/* Navigation styling */
.logo-img{
  max-width: 100px;
}


nav {
  display:flex; 
  height: 70px;
  padding: 20px 30px;
  background-color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
} 


/* Header styling */
.header--section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 36px;
}


.grid--img {
  align-self: center;
}

.header--title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 3rem;
  line-height: 110%;
}

.header--prg {
  margin-top: 0;
  font-weight: 300;
}

/* Card styling */

.card--section{
  position: relative;
  display: flex;
  flex-direction: column;
  width:175px;
  margin: 36px;
} 

.card--raiting {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  margin-top: 9px;

} 

.raiting--star {
  width:14px;
  height:14px;
}

.raiting--prg{
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  padding: 0 4px;
}

.grey {
  color:#918E9B;
  padding: 0;
} 

.card--info {
  font-weight: 300;
  font-size: 10px;
  line-height: 110%;
} 

.price{
  margin: 0;
}

.badge {
  position: absolute;
  font-weight: 400;
  padding: 4px;
  text-align: center;
  margin: 5px;;
  font-size: 12px;
  background-color: white;
  border-radius: 2px;
}
